includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src/

    # Level 9 is the highest level
    level: 6

    checkModelProperties: true
    checkOctaneCompatibility: true
    reportUnmatchedIgnoredErrors: false
    noUnnecessaryCollectionCall: true
    checkNullables: true
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - '#PHPDoc tag @var#'
        - '#Unsafe usage of new static\(\)\.#'
        - '#is used zero times and is not analysed#'
