includes:
    - extension.neon

parameters:
    level: 6

    paths:
        - src

    tmpDir: /tmp/phpstan

    reportStaticMethodSignatures: true

    parallel:
        jobSize: 20
        maximumNumberOfProcesses: 32
        minimumNumberOfJobsPerProcess: 2

    ignoreErrors:
    - '#Unsafe usage of new static\(\)\.#'
    - '#is used zero times and is not analysed#'
